@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Oxygen&display=swap');

.gradient {
    background: linear-gradient(180deg, rgba(57, 202, 234, 0.3) 0%, rgba(154, 29, 121, 0.3) 100%);
}

.instr {
    background-color: rgba(108, 157, 146, 0.15);
}

.titulo {
    flex-wrap: wrap-reverse;
}

.instr img {
    width: 25%;
    max-width: 45px;
}

footer {
    background-color: rgba(169, 96, 150, 0.3);
}

body {
    background-color: #070D0B;
}

.wrapper {
    display: grid;
    grid-template-rows: 25vh minmax(70vh, auto) 5vh;
}

main {
    display: grid;
    grid-template-columns: 65% 25%;
    gap: 10%;
    align-items: start;
    margin: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1, h2 {
    font-size: 1.65rem;
    color: #F8F2F6;
    font-family: 'Baloo Bhai 2', cursive;
}

h2 {
    font-size: 1.5rem;
}

p, .btn {
    font-size: 1rem;
    color: #F8F2F6;
    font-family: 'Oxygen', sans-serif;
}

.resultadoPartidas {
    color: white
}

.btn {
    background-color: #070D0B;
    border: 2px solid #F8F2F6;
}

.btn:hover {
    background-color: #F8F2F6;
    color: #070D0B;
}

table {
    color: white;
    padding: 5px;
}
form input[type=text]{
    width: 6%;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

@media (max-width: 600px) {

    .wrapper {
        grid-template-rows: 15vh minmax(82vh, auto) 3vh;
    }

    h1, h2 {
        font-size: 1.375rem;
    }

    p, .btn {
        font-size: 0.875rem;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
        margin: 2rem 1rem;
    }
    
form input[type=text]{
        width: 7%;
    }

}